<%= @review.errors.full_messages.to_sentence %>

<%= form_for @review, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <h1 class="text-center">Let's write a blog!</h1>
  <%= f.label :restaurant, 'Restaurant name' %>
  <%= f.text_field :restaurant %> <br>
   <%= f.label :title, 'Blog post title' %>
  <%= f.text_field :title %> <br>
   <%= f.label :rating, 'Restaurant rating' %>
  <%= f.text_field :rating %> <br>
   <%= f.label :body, 'Review text' %>
  <%= f.text_area :body, size: "60x12" %> <br>
  <%= f.label :body, 'upload picture' %>
  <%= f.file_field :picture %> <br>
  <%= f.submit "Create" %>
<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
