<!-- Home page -->
<%= render "partials/banner" %>

<% @reviews.each do |review| %>
<div class="col-xs-12 col-sm-4">
  <div class="polaroid">
    <img src="data:image/png;base64, <%= review.picture %>" alt="" style="width:100%">
    <div class="container">
      <p><%= link_to review.restaurant, review_path(review) %></p>
      <p><%= review.title %></p>
      <p><%= review.body %></p>
      <p><%= review.rating %></p>
    </div>
  </div>
</div>
<% end %>
